@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	--text-*: initial;
	--text-3xs: clamp(0.4rem, 0.367rem + 0.148vw, 0.5rem); /* 6.4px to 8px */
	--text-2xs: clamp(0.5rem, 0.458rem + 0.185vw, 0.625rem); /* 8px to 10px */
	--text-xs: clamp(0.625rem, 0.583rem + 0.185vw, 0.75rem); /* 10px to 12px */
	--text-sm: clamp(0.75rem, 0.708rem + 0.185vw, 0.875rem); /* 12px to 14px */
	--text-base: clamp(0.875rem, 0.833rem + 0.185vw, 1rem); /* 14px to 16px */
	--text-lg: clamp(1rem, 0.958rem + 0.185vw, 1.125rem); /* 16px to 18px */
	--text-xl: clamp(1.125rem, 1.083rem + 0.185vw, 1.25rem); /* 18px to 20px */
	--text-2xl: clamp(1.25rem, 1.167rem + 0.37vw, 1.5rem); /* 20px to 24px */
	--text-3xl: clamp(1.5rem, 1.375rem + 0.556vw, 1.875rem); /* 24px to 30px */
	--text-4xl: clamp(1.875rem, 1.75rem + 0.556vw, 2.25rem); /* 30px to 36px */
	--text-5xl: clamp(2.25rem, 2rem + 1.111vw, 3rem); /* 36px to 48px */
	--text-6xl: clamp(3rem, 2.75rem + 1.111vw, 3.75rem); /* 48px to 60px */

	--breakpoint-*: initial;
	--breakpoint-xs: 30rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: 96rem;

	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-link: var(--link);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
	@keyframes shimmer {
		100% {
			transform: translateX(100%);
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--border, currentColor);
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #151519;
		--card: #ffffff;
		--card-foreground: #151519;
		--popover: #ffffff;
		--popover-foreground: #151519;
		--primary: #18181b;
		--primary-foreground: #fafafa;
		--secondary: #f4f4f5;
		--secondary-foreground: #18181b;
		--muted: #f4f4f5;
		--muted-foreground: #767676;
		--accent: #f4f4f5;
		--accent-foreground: #18181b;
		--destructive: #ef4444;
		--destructive-foreground: #fafafa;
		--border: #e4e4e7;
		--input: #e4e4e7;
		--ring: #a1a1aa;
		--radius: 0.5rem;
		--link: #2563eb;
	}

	.dark {
		--background: #151519;
		--foreground: #fafafa;
		--card: #151519;
		--card-foreground: #fafafa;
		--popover: #151519;
		--popover-foreground: #fafafa;
		--primary: #fafafa;
		--primary-foreground: #18181b;
		--secondary: #27272a;
		--secondary-foreground: #fafafa;
		--muted: #27272a;
		--muted-foreground: #a1a1aa;
		--accent: #27272a;
		--accent-foreground: #fafafa;
		--destructive: #7f1d1d;
		--destructive-foreground: #fef2f2;
		--border: #27272a;
		--input: #27272a;
		--ring: #d4d4d8;
		--link: #60a5fa;
	}
}
